<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" class="footer mt-auto py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Musique</h5>
                    <p>Votre source de confiance pour l'achat d'équipements musicaux. Des instruments de qualité pour tous, des débutants aux professionnels.</p>
                </div>
                <div class="col-md-4">
                    <h5>Liens utiles</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-decoration-none">Accueil</a></li>
                        <li><a href="/equipment" class="text-decoration-none">Catalogue</a></li>
                        <li><a href="/orders" class="text-decoration-none">Mes commandes</a></li>
                        <li><a href="/cart" class="text-decoration-none">Panier</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Contact</h5>
                    <address>
                        <strong>Musique</strong><br>
                        ANDRAINJATO<br>
                        Fianarantsoa,MadaaGascar<br>
                        <br>
                        <abbr title="Téléphone">Tél :</abbr>(+261) 38 59 412 11<br>
                        <abbr title="Email">Email :</abbr> <a href="mailto:info@musique.com" class="text-decoration-none">raobelinaherynandrianina@gmail.com</a>
                    </address>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0">© 2025 Musique. Tous droits réservés.</p>
              
            </div>
        </div>
    </footer>
</body>
</html>
